{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Faculdade Impacta</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>
		<header>
			<div class="logodiv">
				<a href="index.html"><img src="{% static 'TecWeb/css/images/Header/menu/impacta_logo.png' %}" class="logo" alt="logo"></a>
			</div>
			<nav class="menu">
				<ul>
					<li><a href="/">Home</a>
					<li><a href="/cursos">Lista de Cursos</a>
					<li><a href="/disciplinas">Disciplinas</a>
					<li><a href="/noticias">Noticias</a> 
				</ul>
				<div class="login">
					{% if not user.is_authenticated %}
					<button><a class="link_nav" href="/login">Login</a></button>
				{% else %}
					<span>Olá {{ user }} </span></br>
					<button><a class="link_nav" href="/logout">Logout</a></button>
					{% if user.perfil == 'A'%}
						<button><a class="link_nav" href="/aluno">area aluno</a></button>
					{% elif user.perfil == 'P' %}
						<button><a class="link_nav" href="/professor">area professor</a></button>
					{% else %}
						<button><a class="link_nav" href="/admin">area coordenador</a></button>
					{% endif %}
				{% endif %}
				</div>
			</nav>
		</header>
        {% block main %}

        {% endblock %}
		</main>
		<footer class="rodape">
			<br>
			© Impacta 2017. Todos os direitos reservados. Política de privacidade

		</footer>

	</body>
</html>



