{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Faculdade Impacta</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="estilo.css">
	</head>
	<body>
		<header>
			<div class="logodiv">
				<a href="index_new.html"><img src="TecWeb/css/images/Header/menu/impacta_logo.png" class="logo" alt="logo"></a>
			</div>
			<nav class="menu">
				<ul>
					<li><a href="#">Home</a>
					<li><a href="cursos.html">Lista de Cursos</a>
					<li><a href="disciplinas.html">Disciplinas</a>
					<li><a href="noticias.html">Noticias</a> 
				</ul>
			</nav>
			<table cellspacing="0" class="login">
				<tr>
					<td align="left"><label for="usuario" id="usuario"/>Usuário:</label></td>
					<td align="left"><label for="usuario" id="usuario"/>Senha:</label></td>
				</tr>
				<tr>
					<td align="left"><input name="usuario" id="usuario"/></td>
					<td align="left"><input name="senha" type="password" id="senha"/></td>
					<td align="left"><input type="submit" value="Entrar"></td>
				</tr>
				<tr>
					<td align="left"><a href="Esqueci a senha.html" class="login2">Esqueceu a senha?</a></td>
					<td align="left"><a href="Novo Cadastro.html" class="login2">Criar conta</a></td>
				</tr>
				<tr>
					<td align="left">
						<label class="container">
							<input type="checkbox">Lembre-se de mim
							<span class="checkmark"></span>
						</label>
					</td>
				</tr>
			</table>
		</header>
        {% block main %}

        {% endblock %}
		</main>
		<footer class="rodape">
			<br>
			© Impacta 2017. Todos os direitos reservados. Política de privacidade

		</footer>

	</body>
</html>



