{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Faculdade Impacta</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	</head>
	<body>


		<header>
			<a href="/" class="logo"><img src="{% static 'TecWeb/css/images/Header/menu/impacta_logo.png' %}" alt="Logo"></a>
			<nav class='menu'>
				<ul class="nav"> 
				<li><a href="/">Home</a>
				<li><a href="/cursos">Lista de Cursos</a> 
				<li><a href="/detalhes">Detalhes dos Cursos</a> 
				<li><a href="/disciplinas">Disciplinas</a>
				<li><a href="/noticias">Noticias</a> 
				
				{% if not user.is_authenticated %}
					<li><a class="link_nav" href="/login">Login</a></li>
				{% else %}
					<li>Olá, {{ user }}</li>
					<li><a class="link_nav" href="/logout">Logout</a></li>
				
				{% endif %}
				 
				</ul>
				</li>
			</ul>
			</nav>
				 
								
		</header>
		<main>
        {% block main %}

        {% endblock %}
		</main>
		<footer class="rodape">
			<br>
			© Impacta 2017. Todos os direitos reservados. Política de privacidade

		</footer>

	</body>
</html>



