{% extends 'base.html' %}
{% load static %}
	{% block main %}
<section>
	<img src="{% static 'TecWeb/css/images/cursos-online.jpg' %}" class="banner" alt="banner">
</section>
<section>
	<h1>CONTATO</h1>
	<form method="POST" action="">
		{% csrf_token %}
		<table class="box_style contato">
			<tr>
				<td>Email:</td><td><input name="email"/></td>
			</tr>
			<tr>
				<td>Nome:</td><td><input name="nome"/></td>
			</tr>
			<tr>
				<td>Assunto:</td><td><input name="assunto"/></td>
			</tr>
			<tr>
				<td>Mensagem:</td><td><textarea name="mensagem"></textarea></td>
			</tr>
			<tr>
				<td><button class="botao2" type="submit" >Confirmar</button></td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}
