{% extends 'base.html' %} 
{% load static %}
	{% block main %}
	<section name="banner">
		<img src="{% static 'TecWeb/css/images/cursos-online.jpg' %}" class="banner" alt="banner">
	</section>
	<div class="org">
		<section class="index_box1 box_style">
			<h1>Sobre</h1>
			<article class="cont_text">
				<p>A Faculdade Impacta Tecnologia nasceu da percepção de um Grupo, que desde 1998 é referência em TI, Gestão e Design, para suprir a falta de mão de obra especializada do mercado de tecnologia e oferecer uma formação completa e multidisciplinar aos alunos.</p>
			</article>
		</section>
		<section class="index_box2 box_style">
			<h1>Comentários</h1>
			<div class="content">
				<article class="cont_text2">
					<p>"Gostei muito de estudar na Faculdade Impacta, além de ficar totalmente envolvido com diversas áreas da tecnogia, ainda podemos jogar um ping-pong no intervalo."</p>
					<p style="text-align: left; magin-left: 1%;">- Ping Ong, 20 anos<br>Aluno do curso de Análise e Desenvolvimento de Sistemas</p>
				</article>
				<article class="cont_text2">
					<p>"A Faculdade Impacta tem parcerias bem legais com diversas empresas da área de tecnologia. E isso ajuda muito a ingressar na área."</p>
					<p style="text-align: left; magin-left: 1%;">- João Cleto, 27 anos<br>Aluno do curso de Banco de Dados</p>
				</article>
				<article class="cont_text2">
					<p>"A Faculdade Impacta apoia e trabalha para o desenvolvimento da área de tecnologia, por isso incentiva vários projetos orientados por professores. Muito bom contar com esse tipo de apoio."</p>
					<p style="text-align: left; magin-left: 1%;">- Astolpho Bartholomeu Mendes, 30 anos<br>Aluno do curso de Análise e Desenvolvimento de Sistemas</p>
				</article>
			</div>
		</section>
	</div>
	{% endblock %}