
<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type='text/css' href='/static/style.css' media="all"> 
		{% extends 'base.html' %}
				{% block title %}Login.{% endblock %}

</head>
<body>
		{% block main %}
		<h1>Login</h1>
		<section >
			<form method="POST" action=" ">
					{% csrf_token %}
					<table class="box_style login2">
						<tr>
							<td>RA:</td> <td><input name = "username" /></td>
						</tr>
						<tr>
							<td>Senha:</td> <td><input type = "password" name = "password" /></td>
						</tr>
						<tr>
							<td><button type="submit" class="submit">entrar</button></td>
						</tr>
					</table>
			</form>
		</section>
		{% endblock %}
	</div> 

</body>
</html>